<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe {id}</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}">
    <script th:src="@{/webhars/jquery/3.0.0/jquery.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="justify-content-center">
        <div class="col-md-6 offset-md-3">

            <div class="card mb-3">
                <div class="card-header bg-primary text-light mb-3">
                    <h1 class="card-title" th:text="${recipe.description}">Recipe Description Here!</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Categories:</h5>
                        </div>
                        <div class="col-md-9">
                            <ul>
                                <li th:each="category : ${recipe.categoryCommands}"
                                    th:text="${category.getDescription()}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Prep Time:</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${(recipe.prepTime) + ' min'}"></p>
                        </div>
                        <div class="col-md-3">
                            <h5>Difficulty:</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.difficulty.name()}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Cooktime:</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${(recipe.cookTime) + ' min'}"></p>
                        </div>
                        <div class="col-md-3">
                            <h5>Servings:</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.servings}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5>Source:</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.getSource()}"></p>
                        </div>
                        <div class="col-md-3">
                            <h5>URL:</h5>
                        </div>
                        <div class="col-md-3">
                            <a th:href="${recipe.getUrl()}" th:text="${recipe.getUrl()}"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-primary text-light mb-3">
                    <h1 class="card-title" >Ingredients</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li th:each="ingredient : ${recipe.ingredientCommands}"
                                    th:text="${ingredient.amount + ' ' + ingredient.uom.description + ' ' + ingredient.description}"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-primary text-light mb-3">
                    <h1 class="card-title" >Directions</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.directions}"></p>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header bg-primary text-light mb-3">
                    <h1 class="card-title">Notes</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${recipe.notesCommand.recipeNotes}"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>